

// formatage container principal

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.header {
    // background: rgb(236, 81, 81);
    // barre commune

}

.index {
    // background: rgb(70, 157, 238);
    // interface spécifique
}

.landing {
    background: rgb(90, 90, 90);
    // page d'accueil
}

.login {
    background: rgb(116, 116, 116);
    // modal windows
}

.footer {
    background: rgb(255, 255, 255);
    // info commune

}