
img {
    width : 100px;
}

.visualisation {

    // background-color: white;

    img {
        width : 250px;
    }

}

.layout {

    // background-color: white;

    // font-family: $dejaVu-sans;

    img {
        width : 100%;
    }

}