

#detailschapitre--gauche {
    width: 40%;
    height: calc(100vh - 3rem);
}

#detailschapitre--droit {
    width: 100%;
    // position: fixed;
    overflow: scroll;
}

.ajouterdocument {
    // margin: 1rem;
    // margin-right: 5%;

    // height: 5rem;
    
    textarea {
        box-sizing: border-box;
    }
}

// .typing {

// }

.liste-documents {
    // background: red;
    // overflow: scroll;
    img {
        width: 200px;
    }
}

.details-documents {
    // margin: 1.5rem;

    textarea {
        box-sizing: border-box;

        &:focus {
            border-color: red;
        }
    }
}

// .ajouterimage {
    
// }

.ajoutersession {
    

    input {
        background: #e9eaeb;
        outline: none;
        &:focus {
            border-color: red;
        }
    }

    textarea {
        box-sizing: border-box;
        background: #e9eaeb;
        outline: none;
        &:focus {
            border-color: red;
        }
    }
}

.ajouter-chapitre {
    

    input {
        background: #e9eaeb;
        outline: none;
        &:focus {
            border-color: red;
        }
    }

    textarea {
        background: #e9eaeb;
        outline: none;
        box-sizing: border-box;

        &:focus {
            border-color: red;
        }
    }
}