#indexsession--form {
    width: 25%;
    height: calc(100vh - 3rem);
    // position: fixed;
}

#indexsession--liste {
    width: 100%;
    
}

.session {
    // width: calc(100vh - 1.5rem);
}

#detailsession--form {
    width: 25%;
    height: calc(100vh - 3rem);
}

#detailsession--liste { 
    width: 100%;
}

.infos-session {

    

}