#indexsession--form {
    width: 25%;
    height: calc(100vh - 3rem);
    // position: fixed;
}

#indexsession--liste {
    width: 100%;
    
}


#detailsession--form {
    width: 25%;
    height: calc(100vh - 3rem);
    // position: fixed;
}

#detailsession--liste { 
    width: 100%;
}

.tableau-de-bord--select {
    border: 1px solid black;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 2rem;
    select {
        padding: 5px 8px;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}