
.login--modal {
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    background-color: #e9eaeb;
    outline: none;

}

.login--overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e9eaeb;
    outline: none;

}

.login--form {

    width: 100%;

    input[type=text] {
        outline: none;
        width: 100%;
        padding: 5px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        // border: 1px solid red;
    }

    input[type=password] {
        outline: none;
        width: 100%;
        padding: 5px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        // border: 1px solid red;
    }

    input[type=email] {
        outline: none;
        width: 100%;
        padding: 5px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        // border: 1px solid red;
    }

 

    label {
        // margin-bottom: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.login--form--select {
    border: 1px solid black;
    // width: 120px;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 2rem;
    select {
        width: 100%;
        padding: 5px 8px;
        // width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;

        &:focus {
            outline: none;
        }
    }
}