.page-documents--container {

    // margin-left:100%;
    // margin-right: 100%;

    padding-left: 20px;
    padding-right: 20px;

    width : 80%;

    img {
        width : 100%;
    }

    a {
        color: black;
    }

}

.page-documents--element {

    h2 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    p {
        font-size: 1.7rem;
        margin: 0;
    }
}