.table-documents--container {

    // max-width: 800px;

    table {
        border-collapse: collapse;
        border: 1px solid black;
        width: 100%;
    }

    th, td {
        padding: 10px;
    }

}

.table-documents--head {
    padding: 5px;
    height: 25px;
    
    color: blue; 

    tr,th,td {
        text-align: left;
        vertical-align: center;
        // color: white;
        // background: lighten(green, 65%);
        border: 1px solid blue;

        &:hover {
            background: blue;
            color: white;
        }
    }
}

.table-documents--content {
    th,td {
        height: 25px;
        border: 1px solid blue;

        // img {
        //     width: 200px;
        // }
    }

    tr {    

        text-align: left;
        // background: lighten(red, 45%);

        &:nth-child(even) {
            // background:lighten(blue, 45%);
        }

    }
}

.table-documents-contenu {
    max-width: 400px;
    // background-color: rgb(255, 255, 255);
    img {
        width: 100%;
    }
}

.table-documents-select--container {
    border: 1px solid black;
    // width: 120px;
    border-radius: 3px;
    overflow: hidden;

    select {
         padding: 5px 8px;
        // width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;

        &:focus {
            outline: none;
        }
    }
}