@font-face {
    font-family: "DejaVu Sans";
    src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
  }

/* @font-face {
font-family: "Junicode";
src: url("fonts/Junicode.ttf") format("truetype");
} */


.k-pdf-export p {
    font-family: 'DejaVu Sans', sans-serif;
    margin: 10px;
    /* border: 2px dashed red; */
}

.k-pdf-export img {
    width: 90%;
    margin-bottom: 20px;
    /* border: 2px dashed red; */
}