
.x {
    display: flex;
}

.xw {
    flex: wrap;
}

.jc { 
    justify-content: space-between;
}

.r {
    right: 0;
}

.l {
    left: 0;
}

.reset {
    margin: 0;
    padding: 0;
}

.lk {
    text-decoration: underline;
}

.txta {
    outline : none;
    resize: none;
}

.btt {
    border: 1px solid black;
}

.ls {
    list-style: none;
}
.crs {
    cursor: pointer;
}

.line-mw {
    width: calc(100% - 2rem);
}

.wfull {
    width: 100%;
}

.wmax {
    max-width: '100%';
    max-height: '100%';
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mxr {
    margin-right: 5%;
}

.mxa {
    margin-left: auto;
    margin-right: auto;
}

.psr {
    position: relative;
}

.psf {
    position: fixed;
}

.fsc {
    font-size: 1.5rem;
    letter-spacing: .02em;
}

.fscb {
    font-size: 2rem;
    letter-spacing: .02em;
}

.fscs {
    font-size: 1rem;
    letter-spacing: .02em;
}

.br {
    border-right: 1px solid;
}

.bb {
    border-bottom: 1px solid;
}

.bl {
    border-left: 1px solid;
}

.bcb {
    border-color: black;
}

.py {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg {
    background: #e9eaeb;
}

.bgr {
    background: red;
}

.bggr {
    background:green;
}

.bgb {
    background:blue;
}

.cff {
    color : grey;
}

.cfbl {
    color: blue;
}

.fcr {
    color: red;
}

.cfb {
    color: black;
}

.cfgr {
    color: green;
}

.bcg {
    border-color: green;
}

.bcbb {
    border-color: blue;
}

.bcr {
    border-color: red;
}

.bno {
    border: none;
}