.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aqua;
}

.body {
    display: flex;
    height: 80%;
    background-color: orange;
}

.index {
    background-color: blueviolet;
}

.vue {
    background-color: greenyellow;
}

.chapitres {
    background-color: blue;
}

.session {
    background-color: green;
}