.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aqua;
}
.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.topbar {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    height: 80%;
    background-color: orange;
}

.index {
    background-color: blueviolet;
}



.chapitres {
    background-color: yellow;
}

.session {
    background-color: green;
}

/* .ajout-session {
    display: flex;
    flex-direction: column;
} */