.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aqua;
}
.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.topbar {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.index-sessions {
    display: flex;
    width: 100%;
    background-color: green;
}

.index-sessions-gauche {
    width: 50%;
}

.index-sessions-droite {
    width: 50%;
}

.details-chapitre {
    display: flex;
    width: 100%;
    background-color: yellowgreen;
}

.infos-chapitre {
    width: 25%;
    background-color: brown;
    flex: none;
}

.documpents {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: blueviolet;
}

.index-documents {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 75%;
}